<ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="#newEvents">New Events</a></li>
  <li class="active"><a data-toggle="tab" href="#hotThreads">Hot Threads</a></li>
</ul>

    <div class="col-sm-12 col-md-6 col-lg-5">
      <div class="row">
        <div class="middlebar_content">
          <h2 class="yellow_bg">What's Hot</h2>
          <div class="middlebar_content_inner wow fadeInUp">
            <ul class="middlebar_nav">
              <li> <a class="mbar_thubnail" href="#"><img src="images/chat.png" alt=""></a> <a class="mbar_title" href="#" style="position:relative; top:7px">Do you think students would be interested in a small "Social Implications of AI" course at Berkeley?</a> </li>
              <li> <a class="mbar_thubnail" href="#"><img src="images/chat.png" alt=""></a> <a class="mbar_title" href="/netNeutrality" style="position:relative; top:7px">The FCC's case against net neutrality rests on a deliberate
               misrepresentation of how the internet works</a> </li>
              <li> <a class="mbar_thubnail" href="#"><img src="images/chat.png" alt=""></a> <a class="mbar_title" href="#" style="position:relative; top:7px">Immigration Issues - Border Law: Should the US build a wall?</a> </li>
              <li> <a class="mbar_thubnail" href="#"><img src="images/chat.png" alt=""></a> <a class="mbar_title" href="#" style="position:relative; top:7px">Should illegal immigrants be offered in-state tuition rates at public colleges within their residing state?</a> </li>
              <li> <a class="mbar_thubnail" href="#"><img src="images/chat.png" alt=""></a> <a class="mbar_title" href="#" style="position:relative; top:14px">Citizenship test - What it means to be American</a> </li>
          </div>
          <div class="popular_categori  wow fadeInUp">
            <h2 class="limeblue_bg">Most Popular Topics</h2>
            <ul class="poplr_catgnva">
              <li><a href="#">Business</a></li>
              <li><a href="#">Technology</a></li>
              <li><a href="#">Health &amp; Wellness</a></li>
              <li><a href="#">Games</a></li>
              <li><a href="#">Memes</a></li>
              <li><a href="#">Sports</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
