<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
      <link rel="stylesheet" href="css/normalize.css">
      <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <form action="index.html" method="post">

      <h1>Login</h1>

      <fieldset>
        <label for="name">Username</label>
        <input type="text" id="name" name="user_name">

        <label for="password">Password:</label>
        <input type="password" id="password" name="user_password">



      </fieldset>
      <button type="submit">Login</button>
    </form>

    <p> No account? Sign up for CampusConnect <a href="#">here</a> today </p>
  </body>
</html>
