<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#newEvents">New Events</a></li>
  <li><a data-toggle="tab" href="#hotThreads">Hot Threads</a></li>
</ul>
<div id="newEvents" class="tab-pane fade in active">
  <div class= "col-sm-12 col-md-6 col-lg-6">
        <h2>New Events</h2>
        <div class="single_stuff wow fadeInDown">
          <div class="single_stuff_img"> <a href="#blockchain"><img src="images/blockchain.jpg" alt=""></a> </div>
          <div class="single_stuff_article">
            <div class="single_sarticle_inner"> <a class="stuff_category" href="#blockchain">Technology</a>
              <div class="stuff_article_inner"> <span class="stuff_date">Oct <strong>20</strong></span>
                <h2><a href="#blockchain">Blockchain Collider</a></h2>
                <p>Learn about the emerging opportunities at the intersection of finance, security, and cryptography. Blockchain is the underlying technology behind bitcoin. The technology contains the potential to change finance and banking as we know it. Marc Andreess...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="single_stuff wow fadeInDown">
          <div class="single_stuff_img"> <a href="#"><img src="images/gobears.jpg" alt=""></a> </div>
          <div class="single_stuff_article">
            <div class="single_sarticle_inner"> <a class="stuff_category" href="#">Sports</a>
              <div class="stuff_article_inner"> <span class="stuff_date">Nov <strong>18</strong></span>
                <h2><a href="#">The Big Game - Cal vs Stanford</a></h2>
                <p>The Big Game between Stanford and Cal is one of the most storied rivalries in all of college football, and great tickets can make you part of a legacy that includes Stanford's dramatic 1924 comeback to score a Rose Bowl berth, Casey Moore's improbable touchd...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="single_stuff wow fadeInDown">
          <div class="single_stuff_img"> <a href="#"><img src="images/vegan_earth.png" alt=""></a> </div>
          <div class="single_stuff_article">
            <div class="single_sarticle_inner"> <a class="stuff_category" href="#">Health</a>
              <div class="stuff_article_inner"> <span class="stuff_date">Jan <strong>30</strong></span>
                <h2><a href="#">Berkeley Vegan Earth Day</a></h2>
                <p>We’ve got dozens of vendors signed up to share their eco-friendly beauty products, sustainable foods, and epic activism. Sit in on educational and earth-friendly talks from nutritionists, activists, experts and mo...
.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="stuffpost_paginatinonarea wow slideInLeft">
          <ul class="newstuff_pagnav">
            <li><a class="active_page" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </ul>
    </div>
  </div>
</div>
