<div class="col-sm-12 col-md-6 col-lg-5" style="position:absolute; left:10px">
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/images/currentaffairs.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Current Affairs/b></p>
        <p>Keep yourself updated on the exciting events happening on a global scale. Keep yourself in the know of major news from around the world.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/images/technology.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Technology</b></p>
        <p>A place to share and discuss the latest developments, happenings and curiosities in the world of technology; a broad spectrum of conversation as to the innovations, aspirations, applications and machinations that define our age and shape our future.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/w3images/skiing.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Skiing</b></p>
        <p>A friendly community for skiiers of all skill levels and styles</p>
      </div>
    </div>
  </div>

  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/images/league.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>League of Legends</b></p>
        <p>Support your League team on Campus! Join the conversation on League strategy, team composition and possibly compete to represent your school!</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/images/economics.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Economics</b></p>
        <p>Proliferation and discourse pertaining to research, news, academic work, and academic summaries from the perspective of economists </p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/images/apple.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Apple</b></p>
        <p>The community for Apple news, rumors and discussions. Join us and queue up for the newest Apple Producttogether!</p>
      </div>
    </div>
  </div>

</div>
